<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room|%>
      <%= link_to room do%>
        <div class="card mb-2">
        <div class="card-body">
          <%= room.name %>
        </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <%= @room.name %>
          <% @room.messages.each do |m|%>
            <div class="message">
            </div>
            <p><%= m.content %> - <%= link_to m.user.name, user_path(m.user.id) %></p>
          <% end %>
            <div class="chat-box">
              <%= render 'messages/form', message: Message.new, room:@room %>
            </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

  